@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    opacity: 0.3;
    width: 20px; 
    height: 20px;
  }
};
.swiper {
  .button-next:hover,
  .button-prev:hover {
    opacity: 5;
  }
}