@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    color: gray;
    opacity: 0.5;
    width: 20px; 
    height: 20px;
  }
};
.swiper {
  .button-next:hover,
  .button-prev:hover {
    opacity: 5;
  }
};
.avaliacoes-swiper .swiper-button-next,  
.avaliacoes-swiper .swiper-button-prev {  
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s;  
  width: 5px;
  height: 5px;
}  
.avaliacoes-swiper .swiper-button-next:hover,  
.avaliacoes-swiper .swiper-button-prev:hover {  
  color: rgba(0, 0, 0, 0.8); 
};  